node_modules/
.npm-cache/
dist/
release/
dist-electron/
server-analytic-system/
build/*
!build/linux/
!build/linux/after-install.sh
!build/linux/after-remove.sh
.env
*.zip
*.log
.idea/
release/
*.exe
server-analytic-system/
